<?xml version="1.0" encoding="utf-8"?>
<Help>
  <Command Name="Config" />
  <Syntax>{option} {argument}</Syntax>
  <Description>
    When TinTin# starts up it will generate a config file, it can be modified with the config command.
    
    Typing '#config' without an argument will show the current configuration.
    These can be written to file with the '#write' command.
  </Description>
  <Example Usage="#CONFIG {COLOR PATCH}  {ON|OFF}" Default="off">
    Fixes color code usage on some muds, most notably Achaea.
  </Example>
  <Example Usage="#config {CONVERT META} {ON|OFF}" Default="off">
    Convert meta characters.
  </Example>
  <Example Usage="#config {DEBUG TELNET} {ON|OFF}" Default="off">
    Show telnet negotations.
  </Example>
  <Example Usage="#config {MCCP}" Default="on">
    Toggles MCCP support.
  </Example>
  <Example Usage="#config {LOG LEVEL} {LOW|HIGH}" Default="High">
    The low setting logs mud output before triggers.
  </Example>
</Help>