<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="TinTin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="TinTin.Properties.Settings.MusicCollectionConnectionString"
        connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=DataSources\MusicCollection.mdb" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
    <applicationSettings>
        <TinTin.Properties.Settings>
            <setting name="PromptChar" serializeAs="String">
                <value>#</value>
            </setting>
        </TinTin.Properties.Settings>
    </applicationSettings>
</configuration>
