<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TinTin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <TinTin.Properties.Settings>
      <setting name="PromptChar" serializeAs="String">
        <value>#</value>
      </setting>
      <setting name="COMMAND_SEPARATOR" serializeAs="String">
        <value>;</value>
      </setting>
      <setting name="DEFAULT_CLOSE" serializeAs="String">
        <value>}</value>
      </setting>
      <setting name="DEFAULT_OPEN" serializeAs="String">
        <value>{</value>
      </setting>
      <setting name="ESCAPE" serializeAs="String">
        <value>27</value>
      </setting>
      <setting name="HISTORY_FILE" serializeAs="String">
        <value>history.txt</value>
      </setting>
      <setting name="LIST_MESSAGE" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="MAX_STR_HASH" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="PULSE_PER_SECOND" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="SCREEN_HEIGHT" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="SCREEN_WIDTH" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="STR_HASH_FLAG_NOGREP" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="STRING_SIZE" serializeAs="String">
        <value>65536</value>
      </setting>
      <setting name="BUFFER_SIZE" serializeAs="String">
        <value>32768</value>
      </setting>
      <setting name="NUMBER_SIZE" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="LEGEND_SIZE" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="LIST_SIZE" serializeAs="String">
        <value>2</value>
      </setting>
    </TinTin.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
</configuration>