<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="AssemblyLoader" version="1.1.6462.37647" targetFramework="net47" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="ReadLine" version="1.2.0" targetFramework="net47" />
  <package id="ReflectSoftware.Insight" version="5.7.1.1" targetFramework="net45" />
</packages>